<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3307/bigfashion?useSSL=false&amp;serverTimezone=UTC</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">1234</property>
    <property name="hibernate.show_sql">true</property>
    <mapping class="dbmodels.Cart"/>
    <mapping class="dbmodels.CartItems"/>
    <mapping class="dbmodels.Catogory"/>
    <mapping class="dbmodels.Customer"/>
    <mapping class="dbmodels.Product"/>
    <mapping class="dbmodels.Mysystem"/>
  </session-factory>
</hibernate-configuration>
